<div class="container">
  <form
    [formGroup]="loginForm"
    id="form-login"
    class="mt-4"
    method="POST"
    role="form"
    (submit)="login()"
  >
    <legend>Welcome to FoodScore!</legend>

    <div class="mb-3">
      <label for="email">Email:</label>
      <input
        type="email"
        class="form-control"
        name="email"
        id="email"
        autocomplete="username"
        placeholder="Email"
        formControlName="email"
        [validationClasses]="{ valid: 'is-valid', invalid: 'is-invalid' }"
      />
    </div>
    <div class="mb-3">
      <label for="password">Contraseña:</label>
      <input
        type="password"
        class="form-control"
        autocomplete="current-password"
        placeholder="Password"
        formControlName="password"
        [validationClasses]="{ valid: 'is-valid', invalid: 'is-invalid' }"
      />
    </div>
    <p class="text-danger" id="errorInfo"></p>
    <a class="btn btn-secondary" [routerLink]="['/auth/register']" role="button"
      >Crear cuenta</a
    >
    @defer {
    <google-login class="btn" (login)="loggedGoogle($event)"></google-login>
    <button
      fbLogin
      [scopes]="['email', 'public_profile']"
      class="btn btn-primary ms-3"
      (loginOk)="loggedFacebook($event)"
      (loginError)="showError($event)"
    >
      <fa-icon [icon]="iconFacebook"></fa-icon>
      Login con Facebook
    </button>
    }
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="loginForm.invalid"
    >
      Login
    </button>
  </form>
</div>
